<div class="container">
  <div class="jumbotron">
    <h1>Bot name: ulisantTest</h1>
    <h3>Comandos disponibles:</h3>
    <table class="table table-hover">
     <thead>
       <tr>
         <th>Comando</th>
         <th>Parametros</th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <td><kbd>/saludo</kbd></td>
         <td>Texto</td>
       </tr>
       <tr>
         <td><kbd>/foto</kbd></td>
         <td>No</td>
       </tr>
       <tr>
         <td><kbd>/foto</kbd></td>
         <td>No</td>
       </tr>
       <tr>
         <td><kbd>/sticker</kbd></td>
         <td>No</td>
       </tr>
     </tbody>
   </table>
  </div>
</div>
